
.container-fluid{
    margin-top: 150px;;
}


table {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 100px;
  }
  .mat-header-cell{
    font-size: 15px;
    font-weight: bold;
  }
 
  .example-container {
    height: 550px;
    overflow: auto;
    width: 100%;
  }