<div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            Event Manage
       </div>
        <div class="card-body">
            <div>
                <div class="card-title">
                    <h2></h2>
                </div>
                <div>
                    <form [formGroup]="profileForm" >
                        <div class="row">
                                <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                        <input matInput 
                                         placeholder="Event Name"
                                         formControlName="name">
                                             
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput 
                                       placeholder="Event Description" 
                                       type="text" 
                                       formControlName="description" >
                                      </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input matInput 
                                       placeholder="Address" 
                                       type="text" 
                                       formControlName="address" >
                                      </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                              <!-- <mat-form-field class="example-full-width">
                                <input matInput 
                                       placeholder="Date" 
                                       type="text" 
                                       formControlName="date" >
                              </mat-form-field> -->
                              <mat-form-field class="example-full-width">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" 
                                formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  
                                 <div class="24hr-example">
                                    <input matInput placeholder="24hr Time format"
                                           aria-label="24hr format"
                                           [ngxTimepicker]="fullTime"
                                           [format]="24" 
                                           formControlName="time"
                                           readonly>
                                    <ngx-material-timepicker #fullTime>
                                   </ngx-material-timepicker>
                               </div>
                               </mat-form-field>
                              </div>
                        </div>
                      
                      
                         <div class="col-md-6">
                             <div class="row">
                                 <div class="col-md-3" class="image-preview">
                                    <input type="file" style="visibility: hidden;" #filepicker  accept=".jpg ,.jpeg, .png"  (change)="onimgpickup($event)">
                                    <button style="margin: 20px;padding: 10px;" class="button btn-danger" (click)="filepicker.click()">BROWSE FILE</button>
                                  </div>
                                  <div *ngIf="imagepreview" class="col-md-3" class="image-preview1">
                                    <img  class="menuimg" [src]="imagepreview" >
                                    <!-- <button (click)="removeMenuImage()">delete</button> -->
                                  </div>
                                </div>
                        </div> 
                        
                       
                        <button mat-raised-button (click)="AddEvent(profileForm)" 
                                class="btn btn-danger pull-right">
                                SAVE
                        </button>
                        <button mat-raised-button (click)="close(profileForm)" 
                                class="btn pull-right">
                                CLOSE
                        </button>
                        
                        <div class="clearfix"></div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

